@Generated(value = "{{generatorClass}}"{{^hideGenerationTimestamp}},
date = "{{generatedDate}}"{{/hideGenerationTimestamp}},
comments = "Generator version: {{generatorVersion}}, using custom templates: /src/main/resources/openapitemplates")